/* GEN */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 14px;
}

ul,ol,li {
list-style: none;
}

body {
	color: #76797D;
	
}
.wraper {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	background-color: rgb(17, 110, 9);
}

/* UT */
.pt-80 {
	padding-top: 80px;
}
.px-20 {
	padding: 0 20px;
}
.mt-25 {
	margin-top: 25px;
}
.mb-10 {
	margin-bottom: 10px;
}


/* SIDE COLON */
.side-colon {
	background-color: rgb(0, 0, 0);
	flex-grow: 1;
	padding: 5px 10px;
	max-width: 230px;
	min-width: 230px;
	position: fixed;
	height: 100%;
}

.block-top__logo {
	max-width: 60%; 
	min-width: 100px;
}

.top-item {
	display: flex;
	align-items: center;
	line-height: 30px;
}
.top-item__img {
	filter: opacity(60%);
	width: 20px;
}
.top-item__txt {
	font-weight: 600;
}
.block-center {
	overflow: auto;
	max-height: 420px;
	
}
.block-center__title {
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}
.block-center__item {
	display: flex;
	align-items: center;
	line-height: 35px;
}
.fa-plus-square {
	font-size: 35px;
	margin-right: 5px;
}
/* MAIN  */
.main {
	background-color: #141922;
	width: 100%;
	height: calc(100% - 60px);
	margin: 0 0 0 230px;
}
/* BUTTON  */
.button__link {
	border: 2px solid #fff;
	padding: 10px 30px;
	border-radius: 25px;
	color: #fff;
	text-decoration: none;
}
.button {
	background-color: #080B12;
	max-width: 83.889999%;
	position: fixed;
	line-height: 60px;
	text-align: end;
	display: block;

}
/* NAV  */
.nav {
}
.nav__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav__item {
	text-transform: uppercase;
	line-height: 65px;

}
.nav__item:not(:last-child) {
	margin-right: 20px;
}
/* SONGS */
.wrap {
	overflow: auto;
	height: 100%;	
}

.title {
	line-height: 60px;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
}
.song-list__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.song-item {
	width: calc(100% / 6 - 40px);
	margin: 5px 5px;
	text-align: center;
}
.song-item__wraper {
	min-width: 170px;
}

.song-item__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.song-item:first-child {
	margin-left: 15px;
}
.song-item:last-child {
	margin-right: 15px;
}
/* FOOTER  */
.player {
	background-color: lightblue;
	width: 100%;
	min-height: 60px;
}
.small-title {
	color: #fff;
	font-weight: 700;
}
.subtitle {
	font-size: 12px;
	font-weight: 500;
}
